@page
@model WebUI.Pages.RefaccionariaGamer.IndexModel
@{
}
<h1>Redirigiendote al nuevo sitio</h1>
<script>
    setTimeout(function () {
        window.location.href = "https://www.refaccionariagamer.com";
    }, 5000); // 5000 milisegundos = 5 segundos
</script>