@page
@model WebUI.Pages.Recipes.EditModel

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Recipe.RecipeId" />
            <div class="form-group">
                <label asp-for="Recipe.RecipeName" class="control-label"></label>
                <input asp-for="Recipe.RecipeName" class="form-control" />
                <span asp-validation-for="Recipe.RecipeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Instructions" class="control-label"></label>
                <textarea asp-for="Recipe.Instructions" class="form-control" cols="3" rows="6" />
                <span asp-validation-for="Recipe.Instructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Servings" class="control-label"></label>
                <input asp-for="Recipe.Servings" class="form-control" />
                <span asp-validation-for="Recipe.Servings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
